.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginRegisterLabel {
    cursor: pointer;
}

.loginRegisterInput {
    font-size: 18px;
    width: 18rem;
    outline: none;
    border-radius: 100vh;
    border: 0.2rem solid rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    margin: 0.2rem;
}

.loginRegisterWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginRegisterWrapper+.loginRegisterWrapper {
    margin-top: 20px;
}

.otherOption_click {
    text-decoration: underline;
}

.otherOption_click:hover {
    color: rgb(17, 194, 185);
    cursor: pointer;
}

.confirmBtn {
    font-size: 18px;
}

.alternativeOption {
    display: none;
}

.red {
    color: rgb(255, 0, 0);
}

.blue {
    background: rgb(17, 194, 185);
    ;
}